
@model test.Models.File
@{
    Layout = "~/Views/Home/layout.cshtml";
}


<div id="container" class="page-home ">
    <div id="content">
        
        <div>
            <div class="fileUploadForm">
                <div id="file-holder">
                    <p class="switch-modes"><a>paste source code instead</a></p>

                    <ul id="files"></ul>
                    <a id="upload">Start Upload</a>

                    <div id="advancedUpload">
                        <p id="statusText"></p>

                        <div id="selectFiles">
                            <div id="dropZone">drop files here</div>
                            <a id="selectFile">Browse</a>
                        </div>
                    </div>
                    <div id="basicUpload">
                        <p class="error" id="oldBrowserMessage">Your browser doesn't support dragging-and-dropping of files, so you're stuck with an icky file input. Bummer!</p>

                    @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new 
                                                                { enctype = "multipart/form-data"}))
                        {
                            <p style="margin-bottom: 0px;">
                                <label for="basicFormFile">File to Upload: </label>
                                <input id="basicFormFile" type="file" name="data" />
                                <input type="submit" name="upload" value="Upload File" />
                            </p>
                        }
                    </div>
                    <div id="loading"><p></p></div>
                </div>
        </div>

        @using (Html.BeginForm("Paste", "Home", FormMethod.Post,  new {@class = "pastebinForm"}))
        {

        <p class="switch-modes"><a>upload files instead</a></p>

        <p>
            <textarea id="text" name="data" placeholder="paste text here" required autofocus></textarea>
        </p>
        <input class="pasteButton" id="paste" type="submit" value="Paste" />
        }


        </div>

    </div>
</div>


    
    
<script>
    // Check whether to use basic or advanced upload form
    if (typeof FileReader != "undefined" &&
        "draggable" in document.createElement("span")) {
        document.getElementById("basicUpload").style.display = "none";
        document.getElementById("advancedUpload").style.display = "block";

    } else {
        document.getElementById("oldBrowserMessage").style.display = "block";
    }
</script>
